/* Instellingen tussen commentaar zijn handig om fouten te helpen vinden, uncomment om aan te zetten */

/* zorg dat elke box een gestippelde rand krijgt, 
   zodat je de afmeting goed kunt zien, 
   letop 1: dit kan de layout soms kan wijzigen 
   letop 2: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {border: 1px dotted black;}   */
  
/* zorg dat elke box een doorzichtige donkere achtergrond krijgt, 
   hoe meer boxen in elkaar hoe donkerder de achtergrondkleur 
   letop: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {background-color: rgba(0,0,0,5%);}  */

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */
* {box-sizing:border-box}

tr.cancelled, td.cancelled, th.cancelled {
  background-color: #d6333e;
  color:#383737;
}


/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

#slide1 {
  display:block;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

* {                                        /* geldt voor alles */
  box-sizing: border-box;                  /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                             /* standaard marge 0 */
}


html, body {                      /* geldt voor html en body */
  margin: 10px;                    /* standaard marge 0 */
  background-color: #715e87;    /* achtergrondkleur lichtgrijs */
  color: #1b1725;               /* tekstkleur donkergrijs */
}  

.subtitle {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold; 

div {                             /* geldt voor div */
  overflow: hidden;               /* zorgt dat DIV de hoogte krijgt van wat erin zit (anders tellen de floats erin niet mee voor de hoogte en wordt dus wel eens hoogte 0) */
}

/* Indeling voor alle pagina's */

                 /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 10 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

/* Add this line to specify bold font weight */
}



div.albumlist {
  border-radius: 10px;
  background-color:#efdff4;
}
ol.albumlist {
  display: none;
  list-style-type: upper-roman;
  list-style-position:inside;
  font-size: 16px;
}

.albumlist table {
  margin-left:10px
}

.albumlist h2 {
  display: none;
}

.tablehead {
  background-color: #918a93;
  column-span:all;
}
  
.sectionhead {
  background-color: #aea5b1;
  column-span:all;
}

td, th, tr {
  border: 2px solid #1b1725;
  padding: 5px;
}

.albumlist table {
  width:570px;
}

div.present {
  width:5%;
}

img.intext {
  width:300px;
  border: 6px solid #1b1725;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 5px;
}

#finder {
  border-top: none;
}

#finder, #hider {
  display: block;
  width: 110px;
  top:50%;
  height: 50px;
  margin-top:0px;
  margin-bottom:0px;
  border-collapse: unset;
  background-color: #efdff4;
  border: 2px solid #1b1725;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#finder:hover, #hider:hover {
  background-color: #918a93;
  color: #efdff4;
  cursor:pointer;
}



.present table, .present tr, .present td {
  background-color:#efdff4;
  padding:15px;
  color:#1b1725;
  border-radius: 5px;
  right: 2.5%;
  top:60%;
  border: 2px solid #1b1725;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-collapse:collapse;
  margin-left:0%;
  margin-top:12.5%;
  width:2.5%;
  height:50px;
}



.present td:hover {
  background-color:#aea5b1;
}

table {
  background-color: #efdff4;
  text-align: center;
  justify-self: center;
  color:#1b1725;
  border-color: #1b1725;
  margin-right: 5%;
  margin-left: 15%;
  border-radius: 10px;
  border: 2px solid #1b1725;
  border-collapse: collapse;
  padding: 10px;
  width: 80%;
  height:300px;
}

.present {
  position:fixed;
  z-index: 1;
}

.peekaboo {
  display:none;
}

.revealer:hover + .peekaboo {
  display:block;
  width: 500px;
  position:fixed;
  top:30%;
  border: 6px solid #1b1725;
  border-radius: 10px;
  transition: all 10s ease;
}

ul li {
  list-style-type: none;
}


header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 

.dark {
  color:#1b1725;
  text-align: center;
  font-size: 0.7em;
}

p {
  margin: 10px 0px;
  text-align: center;
  color: #efdff4;
  background-color: #715e87;
  border-radius: 5px;
  z-index: 2;
  width:80%;
  margin-left:15%;
  margin-right:5%;
}

p a {
  color: #bac0f2;
}

img {
  margin: 10px 0px;
}

/* Indeling voor hoofd pagina */

/* .item {} */ /* hier doen we nog niks mee, dat mag je zelf toevoegen */

.item-plaatje {
  float:left;
  width:250px;
  padding-right: 15px; /* zorgt dat plaatje niet tegen tekst komt */
}
.right {
  float:right;
  width:300px;
  border: 6px solid #1b1725;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 5px;/* zorgt dat plaatje niet tegen tekst komt */
}
.item-tekst {
  float:left;
  width: 90%;
}

span {
  border-radius: 5px;
  color: #1b1725;
  font-family: Garamond;
}

.smallertext {
  vertical-align: super;
  font-size:0.5em;
}
/* Indeling voor sub pagina */

/* Opmaak voor alle pagina's */

h1, h2, h3 {
      color: #0a017e;
}

.singles {
  width: 40px;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    text-decoration: none;
    color:#1b1725;
}

a:hover {
    text-decoration: underline;
}
/* Opmaak voor sub pagina's */

/* Navigatiebalk voor alle pagina's */
nav {

}

nav li a.active {
    background-color: #ffe460;
}

nav li a.active:hover {
  background-color: #ffe460;color:#1b1725
}

nav li a:hover {
    background-color: #534b62;color: #efdff4;
}

li {
 transition-duration: 0.5s;
  border-radius: 10px;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  margin-top: 0rem;
  display: none;
}



ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  background-color: #ffe460;
}

ul li ul li {
  clear: both;
  width: 100%;
}
nav ul {
    margin: auto;
    padding: 0;
    background-color: #efdff4;
    overflow: hidden;
    border-radius: 10px;
}

ul li ul {
  border-radius: 0%;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: #1b1725;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
}




